[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
flake8 = "*"
tox = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"

[requires]
python_version >= "3.6"
