# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Django Backend CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      max-parallel: 2
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up GDAL
      run: sudo apt-get install gdal-bin -y

    - name: Set up PostGIS
      uses: huaxk/postgis-action@v1
      with:
        postgresql version: 'latest'
        postgresql db: ${{ secrets.DB_NAME }}
        postgresql user: ${{ secrets.DB_USER }}
        postgresql password: ${{ secrets.DB_PASSWORD }}

    - name: Set up Python Version ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv-to-requirements
        pipenv_to_requirements --freeze
        pip install -r requirements.txt -r requirements-dev.txt

    - name: Lint with flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run migrations
      env:
        SECRET_KEY: GX@Zuy'zwF>9/j|EI]{0
      run: python manage.py migrate

    - name: Test with pytest
      run: pytest
